// fonts link
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

$font-jose: "Josefin Sans", sans-serif;
$primary-clr: #00fca1;
$secondary-clr: #00b7b7;
$tertiary-clr: #008bb7;
$gradient1: linear-gradient(103.63deg, #003d3d 0%, rgba(0, 0, 0, 0.85) 96.85%);

body {
  font-family: $font-jose;
  text-rendering: optimizeLegibility;
}

a {
  display: inline-block;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.container {
  width: calc(min(95%, 75rem));
  margin-inline: auto;
}
.row {
  display: flex;
  align-items: center;
}

.header {
  &-logo {
    flex-grow: 1;
    a.logo {
      font-size: 1.25rem;
      color: #000;
      display: flex;
      align-items: center;
      img {
        height: 70px;
      }
    }
  }
  &-navigation {
    flex-grow: 4;
    ul {
      display: flex;
      align-items: center;
      justify-content: end;
      li {
        a {
          padding: 8px 16px;
          color: #000;
        }
      }
    }
  }
  &-register {
    flex-grow: 1;
    a.register {
      color: #000;
    }
  }
}

.hero-sec {
  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    &--item {
      &-left {
      }
      &-right {
        position: relative;
        text-align: end;
        img {
          &[alt="chain"] {
            height: 200px;
          }
          &[alt="chain-main"] {
            height: 300px;
          }
        }
        .cc {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            &:first-child {
              position: absolute;
              top: 50%;
              left: 50%;
              z-index: -1;
              right: 0;
              bottom: 0;
              transform: translate(-50%, -50%);
            }
            &:last-child {
              height: 130px;
            }
          }
        }
        .c1 {
          position: absolute;
          img {
            height: 100px;
          }
        }
        .c2 {
          position: absolute;
          img {
            height: 100px;
          }
        }
        .c3 {
          position: absolute;
          img {
            height: 100px;
          }
        }
        .c4 {
          position: absolute;
          img {
            height: 100px;
          }
        }
      }
    }
  }
}
